body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: url('background.avif'); */
     background-color: #e5e5e5; 
       background-size: cover; /* Cover the entire background */
            background-repeat: no-repeat; /* Do not repeat the background image */
            background-attachment: fixed; /* Keep the background fixed while scrolling */

}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 80%; /* Width of the intro text */
    color: black; /* Text color set to black */
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    font-family: din-6776, Arial, sans-serif;
}

table {
  width: 100%; 
    height: 30px; 
}

#topTable {
    position:fixed;
    width:100%;
    top:0px;
    font-size: 15px;
}

#leftTable {
width: calc(100vh - 56px);
    bottom: -2px;
    left: 0px;
    transform: rotate(270deg);
    position:fixed;
    transform-origin: top left;
}

#rightTable {
    width: calc(100vh - 56px);
    top: -2px;
    right: 0px;
    transform: rotate(270deg);
    position:fixed;
    transform-origin: bottom right;
    margin-bottom: 10px;
    font-size: 14px;
}

#bottomTable {
    position:fixed;
    width:100%;
    bottom:0px; 
     font-size: 14px;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 16px;
    line-height: 1.5;
}

#textTurn {
    transform: rotate(-270deg);
}

/* navbar hier onder */

#rechterOnderHoek {
    text-align: top left;
    position: fixed;
    right: 28px;
    bottom: 28px;
    font-family: din-6776;
    letter-spacing: 0.5px;
    width: auto;
    font-size: 14px;
}

a {
    color: black; /* Set the color of the anchor elements */
    text-decoration: none; /* Remove the underline */
}

.logo {
    width: 130px;
    height: auto;
}

.logoBottom   {
    width: 118px; /* Set the width of the specific image */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
    margin-left: 3px;
}

.amerikaanseprojectie {
    width: 70px;
    height: auto;
    margin-left: 5px ;
}

#bold {
    font-weight: bold;
}

@media (max-width: 768px) {
  #rechterOnderHoek {
    display: none;
  }
    .klimrobot {
    display: none;
    }
    #topTable, #leftTable, #rightTable, #bottomTable {
        display: none;
    }
    .logo {
        width: 80vw;
        margin-top: -60px;
        margin-bottom: -50px;
        margin-left: -10px;
        }
    .only-pc {
        display: none;
    }
} 



@media (min-width: 768px) {
    #navBarMobile {
        display: none;
    } .only-mobile
     {
        display: none;
     }
     .logo {
    width: 50vh; /* Set the width of the specific image */
    margin-top: -18vh;
}
} 

@font-face {
    font-family: din-6776;
    src: url(din-6776.ttf) format('truetype'); 
}

.fallback-font {
        font-family: 'Roboto', sans-serif;
    }


.instagram {
    width: 16px;
    height: auto;
}

.menuItem {
     background-color: #c9c9c9
;
     width: 12.5vw;
}

#topTable, #leftTable, #rightTable, #bottomTable, #rechterOnderHoek {
    background-color: #e0e0e0;
}

.menuItem:hover {
    background-color: #535353;
    cursor: pointer;
     /* Change the background color on hover */
}


a:hover {
    color: #535353; /* Change the color on hover */
}

/* Navbar mobiel */
#navBarMobile {
    text-align: top;
    top: 0px;
    position: fixed;
    font-family: din-6776;
    width: 100vw;
    font-size: 20px;
    text-align: center;
}


.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 39.9vw;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.contact-form button {
    width: 41vw;
    padding: 12px;
    background-color: #c9c9c9;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;

}

.contact-form button:hover {
    background-color: #535353 ;
}


.afmeting {
    position: relative;
    display: inline-block;
    border: 2px solid black; /* Dikkere grijze rand */
    margin: 0; /* Geen extra witruimte */
}

.afmeting img {
    display: block;
    max-width: 100%;
    margin: 0; /* Verwijder standaard marges */
}

/* Algemene stijl voor de afmetingselementen */
.afmetingen {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Horizontale pijl styling */
.horizontaal {
    bottom: -30px; /* Plaats de pijl onder de afbeelding */
    left: 0;
    width: 100%; /* Strek over de hele breedte van de afbeelding */
}

/* Horizontale pijl */
#horizontal-arrow {
    width: 95%;
    height: 2px; /* Lijndikte */
    background-color: #333; /* Kleur van de lijn */
    position: relative;
}

#horizontal-arrow::before, #horizontal-arrow::after {
    content: '';
    position: absolute;
    top: 50%; /* Zorgt dat de driehoek in het midden zit */
    transform: translateY(-50%); /* Verplaatst de driehoek verticaal precies naar het midden */
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

#horizontal-arrow::before {
    left: -15px; /* Plaatst de driehoek aan de linkerzijde */
    border-right: 15px solid #333; /* Linker driehoek */
}

#horizontal-arrow::after {
    right: -15px; /* Plaatst de driehoek aan de rechterzijde */
    border-left: 15px solid #333; /* Rechter driehoek */
}

/* Verticale pijl styling */
.verticaal {
    top: 0;
    left: calc(100% + 30px); /* Plaats de pijl net naast de afbeelding */
    height: 100%; /* Strek over de hele hoogte */
}

/* Verticale pijl */
#vertical-arrow {
    height: 92%;
    width: 2px; /* Lijndikte */
    background-color: #333; /* Kleur van de lijn */
    position: relative;
}

#vertical-arrow::before, #vertical-arrow::after {
    content: '';
    position: absolute;
    left: 50%; /* Zorgt dat de driehoek in het midden zit */
    transform: translateX(-50%); /* Verplaatst de driehoek horizontaal precies naar het midden */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

#vertical-arrow::before {
    top: -15px; /* Plaatst de driehoek aan de bovenkant */
    border-bottom: 15px solid #333; /* Bovenste driehoek */
}

#vertical-arrow::after {
    bottom: -15px; /* Plaatst de driehoek aan de onderkant */
    border-top: 15px solid #333; /* Onderste driehoek */
}

/* Afmeting-waarde styling */
.afmeting-waarde {
    position: absolute;
    background-color: #e5e5e5;
    text-align: center;
    font-family: din-6776, Arial, sans-serif;
    font-size: 15px;
}


/* Plaats de afmeting exact op dezelfde lijn als de pijlkoppen */
.horizontale-waarde {
    bottom: -9px; /* Plaats op de zelfde hoogte als de horizontale pijl */
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 15px;
}

.verticale-waarde {
    left: -9px; /* Plaats naast de verticale pijl, uitgelijnd met de kop */
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 0px;
}

.standaardFormaatAfbeelding {
    width: 450px;
    height: auto;
    position: fixed;
    top:220px;
    right: 400px;
}